/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;
	/*Image only BG fallback*/
	
	/*background = gradient + image pattern combo*/
	-webkit-background-size: cover;
  	background: url(../images/bg.png) no-repeat center center fixed; 
 	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 100%;
	color:#2C3E50;
}

body {
	font-family: montserrat, arial, verdana;
}
#extraOptions{
	display:none;
}
#wrapper{
	background-color: rgba(0,0,0,0.4);
	border-radius:20px;
	margin-left:33%;
	margin-right:33%;
	min-width:190px;
	color:#2C3E50;
	padding:10px;
}
#HBHSLogo{
	height:120px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
#title{
	color:#FFFFFF;
	text-align:center;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.requestText{
	color:#FFFFFF;
	text-align:center;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
/*form styles*/
#msform {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.7);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 90%;
	margin: 0 5%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #ba0707;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #ba0707;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #ba0707;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #ba0707;
	color: white;
}
.select_style {
    background: #FFF;
    overflow: hidden;
    display: inline-block;
    color: #525252;
    font-weight: 300;
    -webkit-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    -moz-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    -webkit-box-shadow: 0 0 5px rgba(123, 123, 123, 0.2);
    -moz-box-shadow: 0 0 5px rgba(123,123,123,.2);
    box-shadow: 0 0 5px rgba(123, 123, 123, 0.2);
    border: solid 1px #DADADA;
    font-family: "helvetica neue",arial;
    position: relative;
    cursor: pointer;
    padding-right:20px;
}
.select_style span {
    position: absolute;
    right: 10px;
    width: 8px;
    height: 8px;
    background: url(http://projects.authenticstyle.co.uk/niceselect/arrow.png) no-repeat;
    top: 50%;
    margin-top: -4px;
}
.select_style select {
    -webkit-appearance: none;
    appearance:none;
    width:120%;
    background:none;
    background:transparent;
    border:none;
    outline:none;
    cursor:pointer;
    padding:7px 10px;
}


/*arrowbox*/
.box{
	color: #000000;
	font-size:12px;
}
.arrow_box {
	position: relative;
	background: #58f63c;
	border: 2px solid #23b909;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(186, 7, 7, 0);
	border-top-color: #58f63c;
	border-width: 3px;
	margin-left: -3px;
}
.arrow_box:before {
	border-color: rgba(245, 125, 125, 0);
	border-top-color: #58f63c;
	border-width: 9px;
	margin-left: -9px;
}